*{
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  overflow: hidden;
}

canvas{
  width: 100vw;
  height: 100vh;
}

div{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 9999px;
  transform: none;
  transition: transform .3s;
}

div:after{
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  transform: translate(-2px, -2px) scale(0.8);
  border: solid orange 1px;
  transition: transform .3s;
}

div:hover{
  transform: scale(1.2);
  cursor: pointer;
}

div:hover:after{
  transform: translate(-1px, -1px) scale(1.3);
}